script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

// inject:js
// endinject
script(src="js/app.js")

// Services
script(src="js/services/utils.svc.js")
script(src="js/services/user.svc.js")
script(src="js/services/alert.svc.js")
script(src="js/services/facebookAuth.svc.js")
script(src="js/services/authToken.svc.js")
script(src="js/services/authInterceptor.svc.js")
script(src="js/services/spinnerInterceptor.svc.js")
script(src="js/services/modal.svc.js")
script(src="js/services/training.svc.js")

// Controllers
script(src="js/controllers/login.ctrl.js")
script(src="js/controllers/logout.ctrl.js")
script(src="js/controllers/navbar.ctrl.js")
script(src="js/controllers/profile.ctrl.js")
script(src="js/controllers/health.ctrl.js")
script(src="js/controllers/training.ctrl.js")
script(src="js/controllers/main.ctrl.js")

// Directives
script(src="js/directives/validateEquals.js")
script(src="js/directives/fbLogin.js")
script(src="js/directives/slider.js")

// Other utilities

script(src="js/utils.js")