
<div ng-cloak="" class="ng-cloak">
  <header class="clearfix">
    <div class="col-xs-12 darkbg white no-pad">
      <div class="col-xs-3 no-margin no-pad">
        <div class="user-image no-pad no-margin square no-border"><img src="img/profilepic.jpg" class="img-responsive thumbnail no-pad no-margin square no-border"/></div>
      </div>
      <div class="col-xs-9">
        <h3>Hello, {{user.name}}</h3>
        <h4><span class="glyphicon glyphicon-scale"></span> {{user.weight + 'Kg'}}</h4>
        <h4><span class="glyphicon glyphicon-question-sign"></span> {{user.bodyFat + '% gordura corporal'}}</h4>
        <button ui-sref="profile" class="btn btn-labeled btn-info square"><span class="btn-label"><span class="glyphicon glyphicon-pencil"></span> Atualizar</span></button>
      </div>
    </div>
    <div class="col-xs-12 overview">
      <h2>Posição atual</h2>
    </div>
    <div class="col-xs-12 overview">
      <div class="col-sm-3 user-pad text-center">
        <h3>Programado</h3>
        <h4>Diario: {{totalMetabolicRate + 'KCal'}}</h4>
        <h4>Semanal: {{totalWeeklyMetabolicRate + 'KCal'}}</h4>
      </div>
      <div class="col-sm-3 user-pad text-center">
        <h3>Ingerido</h3>
        <h4>Diario: {{ingestedCalsDay + 'KCal'}}</h4>
        <h4>Semanal: {{ingestedCalsWeek + 'KCal'}}</h4>
      </div>
      <div class="col-sm-3 user-pad text-center">
        <h3>Gasto</h3>
        <h4>Diario: {{spentCalsDay + 'KCal'}}</h4>
        <h4>Semanal: {{spentCalsWeek + 'KCal'}}</h4>
      </div>
      <div class="col-sm-3 user-pad text-center">
        <h3>Resultado</h3>
        <h4>Diario: {{resultsCalsDay + 'KCal'}}</h4>
        <h4>Semanal: {{resultsCalsWeek + 'KCal'}}</h4>
      </div>
    </div>
  </header>
  <article class="user-menu-container square">
    <div class="row overview">
      <h2>Periodização do treino</h2>
    </div>
    <div class="row overview">
      <div class="col-sm-3 text-center">
        <h3>Cardio</h3>
        <div class="input-group space-bottom">
          <input type="number" name="cardioPercent" ng-model="periodization.cardioPercent" min="0" max="100" class="form-control"/><span class="input-group-addon keep-border">%</span>
        </div>
        <h4>{{periodization.cardioCalories}} KCal</h4>
        <h4>{{periodization.cardioMinutes}} Min</h4>
      </div>
      <div class="col-sm-3 text-center">
        <h3>Força</h3>
        <div class="input-group space-bottom">
          <input type="number" name="strengthPercent" ng-model="periodization.strengthPercent" min="0" max="100" class="form-control"/><span class="input-group-addon keep-border">%</span>
        </div>
        <h4>{{periodization.strengthCalories}} KCal</h4>
        <h4>{{periodization.strengthMinutes}} Min</h4>
      </div>
      <div class="col-sm-6">
        <h3>Açoes</h3>
        <button ui-sref="training" class="btn-btn-primary"><span ui-ref="/" class="glyphicon glyphicon-plus"></span> Adicionar treino</button>
        <button class="btn-btn-primary"><span ui-ref="/" class="glyphicon glyphicon-pencil"></span> Editar periodização</button>
      </div>
    </div>
  </article>
</div>