
<div class="well">
  <h2>Perfil</h2>
  <form id="loginFrm" role="form" name="profileFrm" novalidate="" ng-submit="updateProfile()" class="form-horizontal">
    <h3>Sobre Você</h3>
    <div class="row">
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="seu_email@exemplo.com.br" name="email" required="" ng-model="user.email" readonly="true" class="form-control"/>
          <p ng-show="loginFrm.email.$dirty &amp;&amp; loginFrm.email.$invalid" class="text-danger">Email inválido</p>
        </div>
        <div class="control-group">
          <label for="name">Nome</label>
          <input id="name" type="text" placeholder="" name="name" required="" ng-model="user.name" class="form-control"/>
        </div>
        <div class="control-group">
          <label for="dob">Nascimento</label>
          <div class="input-group">
            <input id="dob" type="date" placeholder="" name="dob" required="" ng-model="user.dob" class="form-control"/><span class="input-group-addon">{{ getAgeYears() }} anos, {{ getAgeMonths() }} meses e {{ getAgeDays() }} dias</span>
          </div>
        </div>
      </fieldset>
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="height">Altura (cm)</label>
          <input id="height" type="number" min="1" max="300" placeholder="e.g. 173" required="" ng-model="user.height" class="form-control"/>
        </div>
        <div class="control-group">
          <label for="weight">Peso (kg)</label>
          <input id="weight" type="number" min="1" max="300" placeholder="e.g. 73" required="" ng-model="user.weight" class="form-control"/>
        </div>
        <div class="control-group">
          <label for="activityFactor">Nível de esforço diario (sem treino) &nbsp;<span ng-click="showActiviryFactorHelp()" class="glyphicon glyphicon-question-sign help"></span></label>
          <div class="input-group"><span class="input-group-addon keep-border">1.1</span>
            <input id="activityFactor" type="range" min="1.1" max="2.4" step="0.1" ng-model="user.activityFactor" class="progress-slider"/><span class="input-group-addon keep-border">2.4</span>
          </div>
          <div class="input-group"><span class="input-group-addon">{{translateActivityFactor(user.activityFactor)}}</span></div>
        </div>
      </fieldset>
    </div>
    <div class="row">
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="objective">Sexo</label>
          <div id="objective" class="input-group"><span class="input-group-addon keep-border">Masculino                            
              <input type="radio" ng-model="user.sex" value="m"/></span><span class="input-group-addon keep-border">Feminino
              <input type="radio" ng-model="user.sex" value="f"/></span></div>
        </div>
      </fieldset>
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="bodyFat">Percentual de gordura</label>
          <input id="bodyFat" type="number" min="0" max="100" placeholder="e.g. 30" required="" ng-model="user.bodyFat" class="form-control"/>
        </div>
      </fieldset>
    </div>
    <h3>Sobre seu treino</h3>
    <div class="row">
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="workoutsPerWeek">Treinos por semana &nbsp;<span class="glyphicon glyphicon-question-sign help"></span></label>
          <input id="workoutsPerWeek" type="number" min="0" max="200" placeholder="e.g. 4" required="" ng-model="user.workout.timesPerWeek" class="form-control"/>
        </div>
      </fieldset>
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="vo2Max">VO2 Maximo &nbsp;<span class="glyphicon glyphicon-question-sign help"></span></label>
          <input id="vo2Max" type="number" min="0" max="90.99" placeholder="e.g. 36.40" required="" ng-model="user.vo2Max" class="form-control"/>
        </div>
      </fieldset>
    </div>
    <div class="row">
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="systolicBloodPressure">Pressão arterial &nbsp;<span class="glyphicon glyphicon-question-sign help"></span></label>
          <div class="input-group"><span class="input-group-addon">Máxima</span>
            <input id="systolicBloodPressure" type="number" min="0" max="500" step="1" ng-model="user.bloodPressure.systolic" class="form-control"/><span class="input-group-addon">Mínima</span>
            <input id="diastolicBloodPressure" type="number" min="0" max="500" step="1" ng-model="user.bloodPressure.diastolic" class="form-control"/>
          </div>
        </div>
      </fieldset>
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="restCF">Frequência cardíaca de repouso &nbsp;<span class="glyphicon glyphicon-question-sign help"></span></label>
          <input id="restCF" type="number" min="0" max="300" placeholder="e.g. 70" required="" ng-model="user.restCF" class="form-control"/>
        </div>
      </fieldset>
    </div>
    <div class="row">
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="workoutDuration">Duração do treino cardiovascular (aeróbico) em minutos</label>
          <input id="workoutDuration" type="number" min="0" max="200" placeholder="e.g. 30" required="" ng-model="user.workout.cardio.duration" class="form-control"/>
        </div>
      </fieldset>
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="workoutDuration">Duração do treino de força (anaeróbico) em minutos</label>
          <input id="workoutDuration" type="number" min="0" max="200" placeholder="e.g. 30" required="" ng-model="user.workout.strength.duration" class="form-control"/>
        </div>
      </fieldset>
    </div>
    <div class="row">
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="workoutIntensityCardio">Intensidade do treino cardiovascular (aeróbico) &nbsp;<span class="glyphicon glyphicon-question-sign help"></span></label>
          <div class="input-group"><span class="input-group-addon keep-border">0</span>
            <input id="workoutIntensity" type="range" min="0" max="100" step="1" ng-model="user.workout.cardio.intensity" class="progress-slider"/><span class="input-group-addon keep-border">100</span>
          </div>
          <div class="input-group"><span class="input-group-addon">{{translateWorkoutIntensity(user.workout.cardio.intensity)}}</span></div>
        </div>
      </fieldset>
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="workoutIntensityStrength">Intensidade do treino de força (anaeróbico) &nbsp;<span class="glyphicon glyphicon-question-sign help"></span></label>
          <div class="input-group"><span class="input-group-addon keep-border">0</span>
            <input id="workoutIntensity" type="range" min="0" max="100" step="1" ng-model="user.workout.strength.intensity" class="progress-slider"/><span class="input-group-addon keep-border">100</span>
          </div>
          <div class="input-group"><span class="input-group-addon">{{translateWorkoutIntensity(user.workout.strength.intensity, 'strength')}}</span></div>
        </div>
      </fieldset>
    </div>
    <h3>Meta</h3>
    <div class="row">
      <fieldset class="col-md-6">
        <div class="control-group">
          <label for="objective">Objetivo &nbsp;<span class="glyphicon glyphicon-question-sign help"></span></label>
          <div id="objective" class="input-group"><span class="input-group-addon keep-border">Aumentar massa muscular                            
              <input type="radio" ng-model="user.objective" value="gain"/></span><span class="input-group-addon keep-border">Diminuir % de gordura
              <input type="radio" ng-model="user.objective" value="loss"/></span></div>
        </div>
      </fieldset>
    </div>
    <div class="buttons">
      <input type="submit" value="Save" ng-disabled="loginFrm.$invalid" class="btn btn-block btn-info"/>
    </div>
  </form>
</div>