.row.user-menu-container.square.darkbg  
    .col-md-12.user-details
        .row.darkbg.white
            .col-md-3.no-pad
                .user-image
                    img.img-responsive.thumbnail(src="img/profilepic.jpg")
            .col-md-9.no-pad
                .user-pad
                    h3 Hello, {{user.name}}
                    h4 #[span.glyphicon.glyphicon-scale &nbsp;] {{weight + 'Kg'}}
                    h4 #[span.glyphicon.glyphicon-question-sign &nbsp;] {{bodyFat + '% gordura corporal'}}
                    button.btn.btn-labeled.btn-info.square
                        span.btn-label #[span.glyphicon.glyphicon-pencil] Atualizar

    
        .row.overview
            h2 Posição atual
        .row.overview
            .col-md-3.user-pad.text-center
                h3 Programado
                h4 Diario: {{suggestedDailyCals + 'KCal'}}
                h4 Semanal: {{suggestedWeeklyCals + 'KCal'}}
            .col-md-3.user-pad.text-center
                h3 Ingerido
                h4 Diario: {{suggestedDailyCals + 'KCal'}}
                h4 Semanal: {{suggestedWeeklyCals + 'KCal'}}
            .col-md-3.user-pad.text-center
                h3 Gasto
                h4 Diario: {{actualDailyCals + 'KCal'}}
                h4 Semanal: {{actualWeeklyCals + 'KCal'}}
            .col-md-3.user-pad.text-center
                h3 Resultado
                h4 Diario: {{actualDailyCals + 'KCal'}}
                h4 Semanal: {{actualWeeklyCals + 'KCal'}}
        

article.row.user-menu-container.square
    .row.overview
        h2 Periodização do treino
    .row.overview
        .col-md-3.text-center
            h3 Sugestão
            h4 Cardio: 45 minutos
            h4 Força: 32 minutos
        .col-md-3.text-center
            